.site-navbar-top {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 0.8rem;
}

.site-navbar-top a {
    color: white;
}

.sticky-wrapper {
    position: absolute;
    z-index: 100;
    width: 100%;
}

.navbar {
	position: relative;
    padding-left: 0 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: hsla(0,0%,100%,.7);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: hsla(0,0%,100%,.85);
}

.navbar-dark .navbar-nav .nav-link:active {
    color: hsla(0,0%,100%);
}

.dropdown-menu {
    background-color: transparent;
    border-radius: 0.125rem;
    box-shadow: none;
    margin: 0;
    padding-top: 0;
}

.dropdown-menu .dropdown-item {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    min-width: 7rem;
    max-width: 17.5rem;
    min-height: 0;
    padding: 0.5em 0.5em !important;
    overflow: hidden;
    line-height: 0.8;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    background-color: transparent;
}